@model Book

<form method="post" enctype="multipart/form-data">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Book</h2>
            <hr />
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="Title" class="p-0"></label>
            <input asp-for="Title" readonly="readonly" class="form-control" />
            @* <span asp-validation-for="Title" class="text-danger"></span> *@
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="Author" class="p-0"></label>
            <input asp-for="Author" readonly="readonly" class="form-control" />
            @* <span asp-validation-for="Author" class="text-danger"></span> *@
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="Price" class="p-0"></label>
            <input asp-for="Price" readonly="readonly" class="form-control" />
            @* <span asp-validation-for="Price" class="text-danger"></span> *@
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="Category.DisplayOrder" class="p-0"></label>
            <select asp-for="Category.DisplayOrder" asp-items="ViewBag.catDisplayOrder" class="form-control"></select>
            @* <input asp-for="Category.DisplayOrder" class="form-control" /> *@
            @* <span asp-validation-for="Category.DisplayOrder" class="text-danger"></span> *@
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="Category.Name" class="p-0"></label>
            <select asp-for="Category.Name" asp-items="ViewBag.catName" class="form-control"></select>
            @* <input asp-for="Category.Name" class="form-control" /> *@
            @* <span asp-validation-for="Category.Name" class="text-danger"></span> *@
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <button class="btn btn-primary">Delete</button>
            </div>

            <div class="col-6 col-md-3">
                <a asp-controller="Book" asp-action="Index" class="btn btn-secondary">
                    Back to List
                </a>
            </div>

        </div>

    </div>


</form>
